html, body {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0px;
}

h1 {
  margin: 0px;
  font-size: 70px;
  font-weight: 400;
}
h2 {
  margin: 0px;
  font-size: 45px;
  font-weight: 400;
}
h3 {
  margin: 0px;
  font-size: 45px;
  font-weight: 500;
}
h4 {
  margin: 0px;
  font-size: 30px;
  font-weight: 400;
}


#outer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background: rgb(255,255,255);
  text-align: center;
  width: 940px;
  height: 550px;
}

#inner {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px; /* 550 - 35*2*/
}

.author-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name {
  margin-left: 15px;
}

.author-block img {
  height: 55px;
  border-radius: 50%;
  border: 1px solid black;
}

.book-title-block {
  display: flex;
  justify-content: center;
}

.book-title-block img {
  max-height: 240px;
  border: 1px solid black;
}

.book-of-the-week-rules {
  zoom: 220%;
  text-align: left;
}