[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
python-slugify = "*"
python-docx = "*"
Unidecode = "*"
Pillow = "*"
Jinja2 = "*"
PyYAML = "*"
requests = "*"
python-frontmatter = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
