{% assign book = include.book %}
<div class="book">
  <div class="book-cover">
    <img class="img-border" src="/{{ book.cover }}" />
  </div>
  <div class="book-info">
    <div class="book-title">
      <h2>{{ book.title }}</h2>
    </div>
    <div class="book-authors">
      <h5>by {% include authors.html authors=book.authors %}</h5>
    </div>
    <div class="book-date">
      <h5>from {{ book.start | date_to_string }} to {{ book.end | date_to_string }}</h5>
    </div>
    <div class="links">
      <a href="{{ book.id }}.html">More info</a>
    </div>
  </div>
</div>