<div class="row mb-3 text-center">
  <div class="col">
    <hr />
    <div>
      DataTalks.Club.
      Hosted on <a href="{{ site.github.repository_url }}" target="_blank">GitHub Pages</a>
    </div>
    <!-- <div class="header text-small">
      {% for el in site.data.navigation.bottom %}
        <a class="header-item" href="{{ el.link }}"{% if el.new_window %} target="_blank"{% endif %}>{{ el.text }}</a>
        {% unless forloop.last %}<span class="header-gap"></span>{% endunless %}
      {% endfor %}
    </div> -->
  </div>
</div>

