{% if site.data.header.announcement %}

<div class="fixed-top announcement">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <nobr>{{ site.data.header.announcement.text }}</nobr>
        <nobr>
          <a href="{{ site.data.header.announcement.link }}" target="_blank">
            {{ site.data.header.announcement.link_text }}
          </a>
        </nobr>
      </div>
    </div>
  </div>
</div>  

<div class="header-container-margin container">
{% else %}
<div class="container">
{% endif %}

  <div class="row mt-3 text-center">
    <div class="col">
      <h2>DataTalks.Club</h2>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col header">
      {% for el in site.data.navigation.top %}
        <a class="header-item" href="{{ el.link }}"{% if el.new_window %} target="_blank"{% endif %}>{{ el.text }}</a>
        {% unless forloop.last %}<span class="header-gap"></span>{% endunless %}
      {% endfor %}
    </div>
  </div>
</div>