
<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
    action="TODO"
    class="validate" target="_blank" novalidate>
  <div class="form-row align-items-center justify-content-center">
    <div class="col-auto">
    <label class="sr-only" for="mce-EMAIL">Email</label>
    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address" required>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_0d7822ab98152f5afc118c176_e52ea9dcd3" tabindex="-1" value="">
    </div>
    <div class="col-auto">
    <button type="submit" name="subscribe" class="btn btn-success">
        <i class="far fa-paper-plane"></i> &nbsp; Subscribe
    </button>
    </div>
  </div>
</form>
