body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.wip {
  color: grey;
}

.header {
  font-size: 120%;
}

.content {
  font-size: 130%;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (max-width: 960px) {
  .img-cover {
    max-height: 300px;
  }
  .book-cover {
    margin-bottom: 1em;
  }
  .content {
    font-size: 120%;
  }
}

.article-end {
}

.article-divider::before {
  content: "...";
}

.article-divider {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
}

.presentation {
  border: 1px solid #CCC;
  border-width: 1px;
  margin-bottom: 5px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.video {
  display: block;
  margin: 0 auto;
}

blockquote {
  padding: 1rem;
  background-color: #d3d3d375;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.content-head {
  margin-bottom: 1rem;
}

.content-main h2, .content-main h3, .content-main h4 {
  margin-top: 3rem;
}

.img-border {
  border: #CCC solid 1px;
}

.book {
  display: flex;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.book-cover img {
  max-height: 160px;
  margin-right: 10px;
}

.book-info h2, .book-info h3, .book-info h4 {
  margin-top: 0;
}

.content-book {
  display: flex;
}

.content-book img {
  max-height: 250px;
  margin-right: 10px;
}
