<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto content">

        <div class="content-head d-flex justify-content-between align-items-center">
          <div>
            <h1>{{ page.title }}</h1>
          </div>
          <div>
            <div class="social">
              <a target="_blank" 
                title="Tweet it!"
                href="https://twitter.com/intent/tweet?text={{ page.title | erl_encode }}{{ " by @DataTalksClub " | url_encode }}{{ page.url | absolute_url | url_encode }}">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="content-main">
          {{ content }}
        </div>

        <div class="article-divider"></div>

        <div class="article-end">
          <p>To stay informed about new content on this site and book updates, join our newsletter</p>
          {% include subscribe.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>