<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto">

        <div class="content-head d-flex justify-content-between align-items-center">
          <div>
            <h2>{{ page.title }}</h2>
          </div>
          <div>
            <div class="social">
            </div>
          </div>
        </div>

        <div class="content-main mb-5">
          {{ content }}
        </div>

        <h3>Articles</h3>
        <ul>
          {% for post in site.posts %}
            {% if post.authors contains page.short %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <h3>Events</h3>
        <ul>
          {% for event in site.data.events %}
            {% if event.speakers contains page.short %}
              <li>{{ event.title }} on {{ event.date }}
                {% if event.finished %}
                  (<a href="{{ event.youtube }}" target="_blank">watch on youtube</a>{% if event.anchor %}, <a href="{{ event.anchor }}" target="_blank">listen on anchor</a>{% endif %})
                {% else %}
                  (<a href="{{ event.link }}" target="_blank">register for the event</a>)
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="article-divider"></div>

        <div class="article-end">
          {% include subscribe.html subscribe="true" %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>