<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto content">

        <div class="content-head d-flex justify-content-between align-items-center">
          <div>
            <h1>{{ page.name }}</h1>
          </div>
          <div>
            <div class="social">
            </div>
          </div>
        </div>

        <div class="content-main mb-5">
          {{ content }}
        </div>

        <h2>Posts</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.authors contains page.short %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="article-divider"></div>

        <div class="article-end">
          {% include subscribe.html subscribe="true" %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>