<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto">

        <div class="my-5">
          <h2>{{ page.title }}</h2>
          <h4>by {% include authors.html authors=page.authors %}</h4>
          <h5>The book of the week from {{ page.start | date_to_string }} to {{ page.end | date_to_string }}</h5>
        </div> 

        <div class="content-book mb-5">
          <div>
             <img class="img-border" src="/{{ page.cover }}" />
          </div>
          <div>
              <div>{{ content }}</div>

              <div>
                <ul>
                {% for link in page.links %}
                  <li><a href="{{ link.link }}" target="_blank">{{ link.text }}</a></li>
                {% endfor %}
                </ul>
              </div>
          </div>
        </div>

        <div class="content-main mb-5">
          <p>To take part in the book of the week event:</p>
          <ul>
            <li><a href="/slack.html">Register in our Slack</a></li>
            <li>Join the <code>#book-of-the-week</code> channel</li>
            <li>Ask as many questions as you'd like</li>
            <li>The book authors answer questions from Monday till Thursday</li>
            <li>On Friday, the authors decide who wins free copies of their book</li>
          </ul>
          <p class="pt-3">To see other books, check the <a href="/books.html">the book of the week</a> page.</p>
        </div>

        <div class="article-divider"></div>

        <div class="article-end">
          {% include subscribe.html subscribe="true" %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>