<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto content">

        <div class="content-head d-flex justify-content-between align-items-center">
          <div>
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <h3>{{ page.subtitle }}</h3>
            {% endif %}

            <p>Season {{ page.season }}, episode {{ page.episode }} of the DataTalks.Club podcast with
              {% for a in page.guests %}
                {% assign author = site.people | where: "short", a | first %}
                <a href="/people/{{a}}.html">{{ author.title }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </p>
          </div>
          <div>
            <div class="social">
            </div>
          </div>
        </div>

        <div class="content-main mb-5">
          <div class="pod-badges">
            {% if page.links.apple and page.links.apple != 'TODO' %}
            <div class="pod-badge-container">
              <a href="{{ page.links.apple }}" target="_blank">
                <img class="pod-badge" src="/images/podcast/badges/apple-podcasts.svg" />
              </a>
            </div>
            {% endif %}
            {% if page.links.spotify and page.links.spotify != 'TODO' %}
            <div class="pod-badge-container">
              <a href="{{ page.links.spotify }}" target="_blank">
                <img class="pod-badge" src="/images/podcast/badges/spotify.svg" />
              </a>
            </div>
            {% endif %}
            <div class="pod-badge-container">
              <a href="{{ page.links.youtube }}" target="_blank">
                <img class="pod-badge" src="/images/podcast/badges/youtube.svg" />
              </a>
            </div>
            <div class="pod-badge-container">
              <a href="{{ page.links.anchor }}" target="_blank">
                <img class="pod-badge" src="/images/podcast/badges/anchor.svg" />
              </a>
            </div>
          </div>

        </div>

        <div class="content-main mb-5">
          {% include youtube.html video_id=page.ids.youtube %}
          {% include anchor.html id=page.ids.anchor %}
        </div>

        <div class="content-main mb-5">
          {{ content }}
        </div>

        <div class="content-main mb-5">
          Did you like this episode? Check <a href="/podcast.html" target="_blank">other episodes of the podcast</a>,
          and <a href="/events.html" target="_blank">register for new events</a>.
        </div>

        {% if page.transcript %}
        <div class="content-main mb-5">
          <h2 id="transcript">Transcript</h2>
          {% assign toc = page.transcript | where_exp: "line", "line.header" %}
          <ul>
          {% for line in toc %}
            <li><a href="#{{ line.header | slugify }}">{{ line.header }}</a></li>
          {% endfor %}
          </ul>
          {% for line in page.transcript %}
            {% if line.header %}
            <h3 id="{{ line.header | slugify }}">{{ line.header }}</h3>
            {% else %}
            <p><b>{{ line.who }}</b>: {{ line.line }}{% if line.sec %} (<a href="{{ page.links.youtube }}&t={{ line.sec }}s" target="youtube">{{ line.time }}</a>){% endif %}</p>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        <div class="article-divider"></div>

        <div class="article-end">
          {% include subscribe.html subscribe="true" %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>