<html lang="en">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-lg-8 mx-auto content">

        <div class="content-head d-flex justify-content-between align-items-center">
          <div>
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date_to_string }} by {{ page.author }}</p>
          </div>
          <div>
            <div class="social">
            </div>
          </div>
        </div>

        <div class="content-main mb-5">
          {{ content }}
        </div>

        <div class="article-divider"></div>

        <div class="article-end">
          {% include subscribe.html subscribe="true" %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

</body>